html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $fuente_principal;
    font-size: 1.8rem;
    line-height: 1.8;
}

p {
    color: $cyanText;
    font-size: 1.4rem;
    font-weight: $barlow6;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-family: $fuente_principal;
    margin: $separacion / 2 0;
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 4.7rem;
    font-family: $fuente_secundaria;
    font-weight: 600;
}

h2 {
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
    font-family: $fuente_secundaria;
    font-weight: 700;
    color: $blueDesaturated;
    @include telefono {
        text-align: start;
    }
}

h3 {
    font-size: 3rem;
    font-family: $fuente_secundaria;
    font-weight: 600;
    color: $cyanText;
}

h4 {
    font-family: $fuente_secundaria;
    font-weight: 700;
    color: $blueGrayish;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}