@import url("https://fonts.google.com/specimen/Barlow");
@import url("https://fonts.google.com/specimen/Fraunces");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
//
// Fonts
$fuente_principal: "Barlow",
sans-serif;
$fuente_secundaria: "Abril Fatface",
cursive;
//
// Media Queries Sizes
$telefono: 420px;
$tablet: 768px;
$desktop: 1440px;
//
//Colors
// Primary
$pink: hsl(7,
99%,
70%);
$yellow: hsl(51,
100%,
49%);
$cyanText: hsl(167,
40%,
24%);
$blue: hsl(198,
62%,
26%);
$cyanFooter: hsl(168,
34%,
41%);
$blueClear: #3ebfff;
$greenFooter: #90d4c5;
//
// Neutral
$blueDesaturated: hsl(212,
27%,
19%);
$blueGrayishVD: hsl(213,
9%,
39%);
$blueGrayishD: hsl(232,
10%,
55%);
$blueGrayish: hsl(210,
4%,
67%);
$white: hsl(0,
0%,
100%);
$whiteBg: #fffbf8;
$white2: rgba(255,
255,
255,
0.2);
//
// Separacion
$separacion: 5rem;
//
// Font Weight
$barlow6: 600;
$regular400: 400;
//
//Body
$body: 1.8rem;