.about-grid {
    @include telefono {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid {
        @include telefono {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $whiteBg;
        }
        .img-grid {
            max-width: 100%;
        }
    }
    .more {
        font-family: $fuente_secundaria;
        font-weight: 700;
        color: $blueDesaturated;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    .brand,
    .audience {
        padding: 12rem 3rem;
        text-align: center;
        @include telefono {
            padding: 12rem 12rem;
            text-align: start;
        }
        p {
            color: $blueGrayishD;
        }
    }
    .hover-y {
        position: relative;
        z-index: 2;
        padding: 0.1rem 0.7rem;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 35%;
            border-radius: 0.3rem;
            opacity: 0.3;
            background-color: $yellow;
            transition: all 0.2s ease 0s;
            z-index: 1;
        }
        &:hover {
            &::before {
                height: 35%;
                border-radius: 0.3rem;
                opacity: 0.7;
            }
        }
    }
    .hover-p {
        position: relative;
        z-index: 2;
        padding: 0.1rem 0.7rem;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 35%;
            border-radius: 0.3rem;
            opacity: 0.3;
            background-color: $pink;
            transition: all 0.2s ease 0s;
            z-index: 1;
        }
        &:hover {
            &::before {
                height: 35%;
                border-radius: 0.3rem;
                opacity: 0.7;
            }
        }
    }
}

.design-img,
.photo-design {
    // height: 50rem;
    width: 100%;
    background-position: top center;
    background-size: cover;
    @include tablet {
        height: auto;
        width: auto;
        background-position: center center;
        background-size: cover;
    }
}

.design,
.photo {
    padding: 30rem 3rem 4rem 3rem;
    text-align: center;
    @include telefono {
        padding: 0 12rem;
        height: 52rem;
        object-fit: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p {
            margin-bottom: $separacion;
        }
    }
}

.design-img {
    background-image: url(../img/mobile/image-graphic-design.jpg);
    @include tablet {
        background-image: url(../img/desktop/image-graphic-design.jpg);
    }
}

.photo-design {
    background-image: url(../img/mobile/image-photography.jpg);
    @include tablet {
        background-image: url(../img/desktop/image-photography.jpg);
    }
}