.footer {
    background-color: $greenFooter;
    height: 42rem;
}

.contenedor-footer {
    display: block;
    .sunny-footer {
        text-align: center;
        padding-bottom: 2rem;
    }
    p {
        color: $cyanText;
        padding-top: 8rem;
        margin: 0;
        font-size: 4rem;
        font-weight: 900;
    }
    .navegacion {
        justify-content: center;
    }
}

.attribution {
    padding-top: $separacion;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    font-family: $fuente_principal;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    a {
        color: $blue;
    }
}