.inicio {
    background-image: url(../img/image-header.jpg);
}

// .webp .inicio {
//     // background-image: url(../img/image-header.webp);
// }
.header {
    height: 70rem;
    &.inicio {
        background-position: center center;
        background-size: cover;
    }
    @include tablet {
        min-height: 70rem;
    }
    .creatives {
        z-index: 1;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 1rem;
    }
    .arrow {
        margin-top: $separacion;
        width: 3rem;
    }
}