.grid-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    a {
        padding: 0 1.8rem;
    }
}

.icons {
    img {
        height: 3rem;
        width: 3rem;
        &:hover {
            filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(90deg) brightness(104%) contrast(1000%);
        }
    }
}