.barra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include telefono {
        flex-direction: row;
        justify-content: space-between;
        padding: $separacion - 3rem;
        align-items: center;
        height: 10rem;
    }
    .logo {
        padding: 4rem 2rem 0 0;
        @include telefono {
            padding: 0 0 0 2rem;
        }
    }
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include telefono {
        align-items: flex-end;
    }
}

.mobile-menu {
    // display: flex;
    padding: 3rem 0 0 12rem;
    img {
        width: 3rem;
    }
    @include telefono {
        display: none;
    }
}

.mostrar {
    //ANIMAR EL DISPLAY
    display: contents;
    visibility: visible;
    opacity: 1;
    height: auto;
}

.bg-menu {
    z-index: 2;
    // height: 30%;
    height: fit-content;
    content: "";
    position: absolute;
    border-radius: 1rem;
    top: 8%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 3rem;
    // opacity: 0.9;
    background-color: $white;
}

.navegacion {
    visibility: visible;
    opacity: 0; // Forma alterna de crear una transparencia
    transition: visibility 0.3s ease-in-out, opacity 0.5s linear, height 0.5s linear; // A que le aplicaras la transicion, tiempo de transicion, efecto de transicion
    height: 0;
    @include telefono {
        display: flex; // Los obliga a verlos horizontalmente
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    a {
        display: block;
        text-align: center;
        font-weight: 600;
        max-width: 100%;
        //Styles a
        color: $blueGrayishD;
        padding: 1.2rem 3rem;
        margin: 0.5rem 0;
        border-radius: 3rem;
        @include telefono {
            display: flex;
            padding: 1.1rem $separacion / 2;
            border-radius: 3rem;
            //Styles a
            color: $white;
        }
        ////
        &:hover {
            border: $blueDesaturated solid 2px;
            opacity: 0.7;
            @include telefono {
                background-color: $white2;
                border: none;
                opacity: 1;
            }
        }
        &:last-of-type {
            background-color: $yellow;
            color: $blueDesaturated;
            text-transform: uppercase;
            font-family: $fuente_secundaria;
            margin-bottom: 2rem;
            @include telefono {
                background-color: $white;
                margin: 0;
            }
        }
        &:last-of-type:hover {
            background-color: $blueDesaturated;
            opacity: 1;
            color: $yellow;
            border: none;
            @include telefono {
                background-color: $white2;
                color: $white;
            }
        }
    }
}

.navegacion-footer {
    display: flex;
    justify-content: center;
    a {
        color: $cyanFooter;
        display: block;
        text-align: center;
        font-weight: 600;
        max-width: 100%;
        padding: 2rem;
        &:hover {
            color: $white;
        }
    }
}