.testimonials {
    background-color: $whiteBg;
    padding: $separacion * 3 0;
    height: auto;
    h4 {
        display: flex;
        justify-content: center;
    }
}

.g-testimonials {
    @include telefono {
        @include grid(3, 3rem);
    }
}

.quote {
    margin: 2rem 0 2rem 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: solid 1px red;
    background-position: center center;
    background-size: cover;
    picture {
        height: 5rem;
        width: 5rem;
    }
    img {
        border-radius: 50%;
    }
    p {
        margin: 0;
    }
    blockquote {
        margin: $separacion 0;
        // border: solid 1px blue;
        font-family: $fuente_principal;
        font-weight: 700;
        color: $blueGrayishVD;
        font-size: 1.4rem;
        text-align: center;
    }
}

.name {
    font-family: $fuente_secundaria;
    font-weight: 700;
    color: $blueDesaturated;
    font-size: 1.7rem;
}

.work {
    font-family: $fuente_principal;
    font-weight: 700;
    color: $blueGrayish;
    font-size: 1.3rem;
}